.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body{
    margin: 0px;
    padding: 0px;
}

/* navbar styles */

nav{
    display: flex;
    justify-content: space-between;
    margin: 38px 150px 36px;
}

.name{
    font-size: 28px;
    margin-bottom: 0px;
}

.btn1{
    border-radius: 8px;
    width: 244px;
    height: 57px;
    background-color: transparent;
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
}

nav button a{
    text-decoration: none;
    font-size: 20px;
    color: #0D1321;
    font-weight: 600;
}

/* banner style */

.banner{
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    padding: 26px 221px 45px;
}

.dev{
    margin: 0px 345px;
}

.banner-content{
    width: 998px;
    height: 581px;
    margin: 26px 221px 45px;
}

.banner-title{
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;
}

.banner-sub-title{
    font-size: 16px;
    text-align: center;
    color: #0D1321;
    opacity: 70%;
}

.btn2{
    border-radius: 8px;
    width: 244px;
    height: 65px;
    background-color: #0D1321;
    color: white;
    font-family: "Azeret Mono", monospace;
    margin: 32px 344px 0px 344px;
    font-size: 20px;
}

/* goal styles */

.goal{
    margin: 74px 150px;
    padding: 80px 97px;
    text-align: center;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 18px;
}

.goal-title{
    font-size: 32px;
}

.goal-subtitle{
    font-size: 16px;
    opacity: 70%;
}

.card1{
    margin: 0px 47px 48px;
}

.card2{
    display: flex;
    margin-bottom: 32px;
    text-align: left;
    justify-content: space-between;
    padding: 48px;
    background-color: white;
    border-radius: 16px;
    background: linear-gradient(to right, #FFFFFF, rgba(255, 255, 255, 0));
}

.card2-1{
    width: 477px;
    height: 219px;
}

.goal-title1{
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
}

.btn3{ 
    width: 244px;
    height: 57px;
    background-color: transparent;
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
}

.card3{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 32px;
    text-align: left;
    justify-content: space-between;
    padding: 48px;
    background-color: white;
    border-radius: 16px;
    background: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0));
}

.card-ins{
    margin: 90px 150px 150px;
}

.card-ins1{
    margin: 0px 144px 48px;
    text-align: center;
    border: 2px solid black;
}

.iframe-wrapper {
  width: 1550px;
  height: 1100px;
  margin: 0 auto;              /* Center horizontally */
  border-radius: 20px;
  border: 1px solid black;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Optional: soft shadow */
}

.iframe-wrapper iframe {
  width: 100%;
  height: 100%;

  display: block;
  margin: 32px;
}
